// set cursor responsively
@mixin pointer() {
  transition: all 0.3s;
  cursor: default;
  &:active {
    opacity: 0.7;
  }
  @media (min-width: 600px) {
    cursor: pointer;
  }
}

// animation for change pages
@mixin changePage() {
  * {
    animation: opacities 0.3s ease-in;
  }
  @keyframes opacities {
    0% {
      opacity: 0;
    }
  }
}
