$background-primary-color: #121212;
$background-secondary-color: #1e1e1e;
$background-secondary-color2: #3b3b3b;

$text-primary-color: #e1e1e1;
$text-secondary-color: #a0a0a0;

$primary-color: #1673f5;
$border-color: #1e1e1e;
