@import './variable';

.filterBtnContainer {
  padding: 1em 0.5em;
  padding-bottom: 0;
  padding-right: 0;
  overflow-x: auto;
  white-space: nowrap;

  -webkit-overflow-scrolling: touch;
  &::-webkit-scrollbar {
    display: none;
  }

  .filterBtn {
    background-color: transparent;
    display: inline-block;
    margin: 0 8px;
    opacity: 0.5;
  }
  .activeFilterBtn {
    @extend .filterBtn;
    opacity: 1;
    color: $primary-color;
  }
}
