:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: auto;
  max-width: 1000px;
  min-width: 320px;
  min-height: 100vh;
  background-color: #121212;
  color: #e1e1e1;
  padding-bottom: 3em;
}

a {
  text-decoration: none;
  font-size: 1rem;
  transition: all 0.3s;
  cursor: default;
  color: #e1e1e1;
}
a:active {
  opacity: 0.7;
}
@media (min-width: 600px) {
  a {
    cursor: pointer;
  }
}

button {
  transition: all 0.3s;
  cursor: default;
  font-size: 1rem;
  border: none;
  outline: none;
  color: #e1e1e1;
}
button:active {
  opacity: 0.7;
}
@media (min-width: 600px) {
  button {
    cursor: pointer;
  }
}

input {
  background-color: #1e1e1e;
  border: none;
  outline: none;
  padding: 1em;
  border-radius: 10px;
  width: 100%;
  border: 1px solid transparent;
  color: #e1e1e1;
  margin-bottom: 10px;
}
input::placeholder {
  color: #a0a0a0;
  opacity: 0.7;
}
input:focus {
  color: #a267ea;
}
input:focus::placeholder {
  color: #a267ea;
}

.page * {
  animation: opacities 0.3s ease-in 0s both;
}
.page *:nth-child(2) {
  animation: opacities 0.3s ease-in 0.18s both;
}
.page *:nth-child(3) {
  animation: opacities 0.3s ease-in 0.27s both;
}
.page *:nth-child(4) {
  animation: opacities 0.3s ease-in 0.36s both;
}
.page *:nth-child(5) {
  animation: opacities 0.3s ease-in 0.45s both;
}
.page *:nth-child(6) {
  animation: opacities 0.3s ease-in 0.54s both;
}
.page *:nth-child(7) {
  animation: opacities 0.3s ease-in 0.63s both;
}
.page *:nth-child(8) {
  animation: opacities 0.3s ease-in 0.72s both;
}
.page *:nth-child(9) {
  animation: opacities 0.3s ease-in 0.81s both;
}
.page *:nth-child(10) {
  animation: opacities 0.3s ease-in 0.9s both;
}
.page *:nth-child(11) {
  animation: opacities 0.3s ease-in 0.99s both;
}
.page *:nth-child(12) {
  animation: opacities 0.3s ease-in 1.08s both;
}
.page *:nth-child(13) {
  animation: opacities 0.3s ease-in 1.17s both;
}
.page *:nth-child(14) {
  animation: opacities 0.3s ease-in 1.26s both;
}
.page *:nth-child(15) {
  animation: opacities 0.3s ease-in 1.35s both;
}
.page *:nth-child(16) {
  animation: opacities 0.3s ease-in 1.44s both;
}
.page *:nth-child(17) {
  animation: opacities 0.3s ease-in 1.53s both;
}
.page *:nth-child(18) {
  animation: opacities 0.3s ease-in 1.62s both;
}
.page *:nth-child(19) {
  animation: opacities 0.3s ease-in 1.71s both;
}
.page *:nth-child(20) {
  animation: opacities 0.3s ease-in 1.8s both;
}
.page *:nth-child(21) {
  animation: opacities 0.3s ease-in 1.89s both;
}
.page *:nth-child(22) {
  animation: opacities 0.3s ease-in 1.98s both;
}
.page *:nth-child(23) {
  animation: opacities 0.3s ease-in 2.07s both;
}
.page *:nth-child(24) {
  animation: opacities 0.3s ease-in 2.16s both;
}
.page *:nth-child(25) {
  animation: opacities 0.3s ease-in 2.25s both;
}
.page *:nth-child(26) {
  animation: opacities 0.3s ease-in 2.34s both;
}
.page *:nth-child(27) {
  animation: opacities 0.3s ease-in 2.43s both;
}
.page *:nth-child(28) {
  animation: opacities 0.3s ease-in 2.52s both;
}
.page *:nth-child(29) {
  animation: opacities 0.3s ease-in 2.61s both;
}
.page *:nth-child(30) {
  animation: opacities 0.3s ease-in 2.7s both;
}
.page *:nth-child(31) {
  animation: opacities 0.3s ease-in 2.79s both;
}
.page *:nth-child(32) {
  animation: opacities 0.3s ease-in 2.88s both;
}
.page *:nth-child(33) {
  animation: opacities 0.3s ease-in 2.97s both;
}
.page *:nth-child(34) {
  animation: opacities 0.3s ease-in 3.06s both;
}
.page *:nth-child(35) {
  animation: opacities 0.3s ease-in 3.15s both;
}
.page *:nth-child(36) {
  animation: opacities 0.3s ease-in 3.24s both;
}
.page *:nth-child(37) {
  animation: opacities 0.3s ease-in 3.33s both;
}
.page *:nth-child(38) {
  animation: opacities 0.3s ease-in 3.42s both;
}
.page *:nth-child(39) {
  animation: opacities 0.3s ease-in 3.51s both;
}
.page *:nth-child(40) {
  animation: opacities 0.3s ease-in 3.6s both;
}
.page *:nth-child(41) {
  animation: opacities 0.3s ease-in 3.69s both;
}
.page *:nth-child(42) {
  animation: opacities 0.3s ease-in 3.78s both;
}
.page *:nth-child(43) {
  animation: opacities 0.3s ease-in 3.87s both;
}
.page *:nth-child(44) {
  animation: opacities 0.3s ease-in 3.96s both;
}
.page *:nth-child(45) {
  animation: opacities 0.3s ease-in 4.05s both;
}
.page *:nth-child(46) {
  animation: opacities 0.3s ease-in 4.14s both;
}
.page *:nth-child(47) {
  animation: opacities 0.3s ease-in 4.23s both;
}
.page *:nth-child(48) {
  animation: opacities 0.3s ease-in 4.32s both;
}
.page *:nth-child(49) {
  animation: opacities 0.3s ease-in 4.41s both;
}
.page *:nth-child(50) {
  animation: opacities 0.3s ease-in 4.5s both;
}
.page *:nth-child(51) {
  animation: opacities 0.3s ease-in 4.59s both;
}
.page *:nth-child(52) {
  animation: opacities 0.3s ease-in 4.68s both;
}
.page *:nth-child(53) {
  animation: opacities 0.3s ease-in 4.77s both;
}
.page *:nth-child(54) {
  animation: opacities 0.3s ease-in 4.86s both;
}
.page *:nth-child(55) {
  animation: opacities 0.3s ease-in 4.95s both;
}
.page *:nth-child(56) {
  animation: opacities 0.3s ease-in 5.04s both;
}
.page *:nth-child(57) {
  animation: opacities 0.3s ease-in 5.13s both;
}
.page *:nth-child(58) {
  animation: opacities 0.3s ease-in 5.22s both;
}
.page *:nth-child(59) {
  animation: opacities 0.3s ease-in 5.31s both;
}
.page *:nth-child(60) {
  animation: opacities 0.3s ease-in 5.4s both;
}
.page *:nth-child(61) {
  animation: opacities 0.3s ease-in 5.49s both;
}
.page *:nth-child(62) {
  animation: opacities 0.3s ease-in 5.58s both;
}
.page *:nth-child(63) {
  animation: opacities 0.3s ease-in 5.67s both;
}
.page *:nth-child(64) {
  animation: opacities 0.3s ease-in 5.76s both;
}
.page *:nth-child(65) {
  animation: opacities 0.3s ease-in 5.85s both;
}
.page *:nth-child(66) {
  animation: opacities 0.3s ease-in 5.94s both;
}
.page *:nth-child(67) {
  animation: opacities 0.3s ease-in 6.03s both;
}
.page *:nth-child(68) {
  animation: opacities 0.3s ease-in 6.12s both;
}
.page *:nth-child(69) {
  animation: opacities 0.3s ease-in 6.21s both;
}
.page *:nth-child(70) {
  animation: opacities 0.3s ease-in 6.3s both;
}
.page *:nth-child(71) {
  animation: opacities 0.3s ease-in 6.39s both;
}
.page *:nth-child(72) {
  animation: opacities 0.3s ease-in 6.48s both;
}
.page *:nth-child(73) {
  animation: opacities 0.3s ease-in 6.57s both;
}
.page *:nth-child(74) {
  animation: opacities 0.3s ease-in 6.66s both;
}
.page *:nth-child(75) {
  animation: opacities 0.3s ease-in 6.75s both;
}
.page *:nth-child(76) {
  animation: opacities 0.3s ease-in 6.84s both;
}
.page *:nth-child(77) {
  animation: opacities 0.3s ease-in 6.93s both;
}
.page *:nth-child(78) {
  animation: opacities 0.3s ease-in 7.02s both;
}
.page *:nth-child(79) {
  animation: opacities 0.3s ease-in 7.11s both;
}
.page *:nth-child(80) {
  animation: opacities 0.3s ease-in 7.2s both;
}
.page *:nth-child(81) {
  animation: opacities 0.3s ease-in 7.29s both;
}
.page *:nth-child(82) {
  animation: opacities 0.3s ease-in 7.38s both;
}
.page *:nth-child(83) {
  animation: opacities 0.3s ease-in 7.47s both;
}
.page *:nth-child(84) {
  animation: opacities 0.3s ease-in 7.56s both;
}
.page *:nth-child(85) {
  animation: opacities 0.3s ease-in 7.65s both;
}
.page *:nth-child(86) {
  animation: opacities 0.3s ease-in 7.74s both;
}
.page *:nth-child(87) {
  animation: opacities 0.3s ease-in 7.83s both;
}
.page *:nth-child(88) {
  animation: opacities 0.3s ease-in 7.92s both;
}
.page *:nth-child(89) {
  animation: opacities 0.3s ease-in 8.01s both;
}
.page *:nth-child(90) {
  animation: opacities 0.3s ease-in 8.1s both;
}
.page *:nth-child(91) {
  animation: opacities 0.3s ease-in 8.19s both;
}
.page *:nth-child(92) {
  animation: opacities 0.3s ease-in 8.28s both;
}
.page *:nth-child(93) {
  animation: opacities 0.3s ease-in 8.37s both;
}
.page *:nth-child(94) {
  animation: opacities 0.3s ease-in 8.46s both;
}
.page *:nth-child(95) {
  animation: opacities 0.3s ease-in 8.55s both;
}
.page *:nth-child(96) {
  animation: opacities 0.3s ease-in 8.64s both;
}
.page *:nth-child(97) {
  animation: opacities 0.3s ease-in 8.73s both;
}
.page *:nth-child(98) {
  animation: opacities 0.3s ease-in 8.82s both;
}
.page *:nth-child(99) {
  animation: opacities 0.3s ease-in 8.91s both;
}
.page *:nth-child(100) {
  animation: opacities 0.3s ease-in 9s both;
}
.page *:nth-child(101) {
  animation: opacities 0.3s ease-in 9.09s both;
}
.page *:nth-child(102) {
  animation: opacities 0.3s ease-in 9.18s both;
}
.page *:nth-child(103) {
  animation: opacities 0.3s ease-in 9.27s both;
}
.page *:nth-child(104) {
  animation: opacities 0.3s ease-in 9.36s both;
}
.page *:nth-child(105) {
  animation: opacities 0.3s ease-in 9.45s both;
}
.page *:nth-child(106) {
  animation: opacities 0.3s ease-in 9.54s both;
}
.page *:nth-child(107) {
  animation: opacities 0.3s ease-in 9.63s both;
}
.page *:nth-child(108) {
  animation: opacities 0.3s ease-in 9.72s both;
}
.page *:nth-child(109) {
  animation: opacities 0.3s ease-in 9.81s both;
}
.page *:nth-child(110) {
  animation: opacities 0.3s ease-in 9.9s both;
}
.page *:nth-child(111) {
  animation: opacities 0.3s ease-in 9.99s both;
}
.page *:nth-child(112) {
  animation: opacities 0.3s ease-in 10.08s both;
}
.page *:nth-child(113) {
  animation: opacities 0.3s ease-in 10.17s both;
}
.page *:nth-child(114) {
  animation: opacities 0.3s ease-in 10.26s both;
}
.page *:nth-child(115) {
  animation: opacities 0.3s ease-in 10.35s both;
}
.page *:nth-child(116) {
  animation: opacities 0.3s ease-in 10.44s both;
}
.page *:nth-child(117) {
  animation: opacities 0.3s ease-in 10.53s both;
}
.page *:nth-child(118) {
  animation: opacities 0.3s ease-in 10.62s both;
}
.page *:nth-child(119) {
  animation: opacities 0.3s ease-in 10.71s both;
}
.page *:nth-child(120) {
  animation: opacities 0.3s ease-in 10.8s both;
}
.page *:nth-child(121) {
  animation: opacities 0.3s ease-in 10.89s both;
}
.page *:nth-child(122) {
  animation: opacities 0.3s ease-in 10.98s both;
}
.page *:nth-child(123) {
  animation: opacities 0.3s ease-in 11.07s both;
}
.page *:nth-child(124) {
  animation: opacities 0.3s ease-in 11.16s both;
}
.page *:nth-child(125) {
  animation: opacities 0.3s ease-in 11.25s both;
}
.page *:nth-child(126) {
  animation: opacities 0.3s ease-in 11.34s both;
}
.page *:nth-child(127) {
  animation: opacities 0.3s ease-in 11.43s both;
}
.page *:nth-child(128) {
  animation: opacities 0.3s ease-in 11.52s both;
}
.page *:nth-child(129) {
  animation: opacities 0.3s ease-in 11.61s both;
}
.page *:nth-child(130) {
  animation: opacities 0.3s ease-in 11.7s both;
}
.page *:nth-child(131) {
  animation: opacities 0.3s ease-in 11.79s both;
}
.page *:nth-child(132) {
  animation: opacities 0.3s ease-in 11.88s both;
}
.page *:nth-child(133) {
  animation: opacities 0.3s ease-in 11.97s both;
}
.page *:nth-child(134) {
  animation: opacities 0.3s ease-in 12.06s both;
}
.page *:nth-child(135) {
  animation: opacities 0.3s ease-in 12.15s both;
}
.page *:nth-child(136) {
  animation: opacities 0.3s ease-in 12.24s both;
}
.page *:nth-child(137) {
  animation: opacities 0.3s ease-in 12.33s both;
}
.page *:nth-child(138) {
  animation: opacities 0.3s ease-in 12.42s both;
}
.page *:nth-child(139) {
  animation: opacities 0.3s ease-in 12.51s both;
}
.page *:nth-child(140) {
  animation: opacities 0.3s ease-in 12.6s both;
}
.page *:nth-child(141) {
  animation: opacities 0.3s ease-in 12.69s both;
}
.page *:nth-child(142) {
  animation: opacities 0.3s ease-in 12.78s both;
}
.page *:nth-child(143) {
  animation: opacities 0.3s ease-in 12.87s both;
}
.page *:nth-child(144) {
  animation: opacities 0.3s ease-in 12.96s both;
}
.page *:nth-child(145) {
  animation: opacities 0.3s ease-in 13.05s both;
}
.page *:nth-child(146) {
  animation: opacities 0.3s ease-in 13.14s both;
}
.page *:nth-child(147) {
  animation: opacities 0.3s ease-in 13.23s both;
}
.page *:nth-child(148) {
  animation: opacities 0.3s ease-in 13.32s both;
}
.page *:nth-child(149) {
  animation: opacities 0.3s ease-in 13.41s both;
}
.page *:nth-child(150) {
  animation: opacities 0.3s ease-in 13.5s both;
}
.page *:nth-child(151) {
  animation: opacities 0.3s ease-in 13.59s both;
}
.page *:nth-child(152) {
  animation: opacities 0.3s ease-in 13.68s both;
}
.page *:nth-child(153) {
  animation: opacities 0.3s ease-in 13.77s both;
}
.page *:nth-child(154) {
  animation: opacities 0.3s ease-in 13.86s both;
}
.page *:nth-child(155) {
  animation: opacities 0.3s ease-in 13.95s both;
}
.page *:nth-child(156) {
  animation: opacities 0.3s ease-in 14.04s both;
}
.page *:nth-child(157) {
  animation: opacities 0.3s ease-in 14.13s both;
}
.page *:nth-child(158) {
  animation: opacities 0.3s ease-in 14.22s both;
}
.page *:nth-child(159) {
  animation: opacities 0.3s ease-in 14.31s both;
}
.page *:nth-child(160) {
  animation: opacities 0.3s ease-in 14.4s both;
}
.page *:nth-child(161) {
  animation: opacities 0.3s ease-in 14.49s both;
}
.page *:nth-child(162) {
  animation: opacities 0.3s ease-in 14.58s both;
}
.page *:nth-child(163) {
  animation: opacities 0.3s ease-in 14.67s both;
}
.page *:nth-child(164) {
  animation: opacities 0.3s ease-in 14.76s both;
}
.page *:nth-child(165) {
  animation: opacities 0.3s ease-in 14.85s both;
}
.page *:nth-child(166) {
  animation: opacities 0.3s ease-in 14.94s both;
}
.page *:nth-child(167) {
  animation: opacities 0.3s ease-in 15.03s both;
}
.page *:nth-child(168) {
  animation: opacities 0.3s ease-in 15.12s both;
}
.page *:nth-child(169) {
  animation: opacities 0.3s ease-in 15.21s both;
}
.page *:nth-child(170) {
  animation: opacities 0.3s ease-in 15.3s both;
}
.page *:nth-child(171) {
  animation: opacities 0.3s ease-in 15.39s both;
}
.page *:nth-child(172) {
  animation: opacities 0.3s ease-in 15.48s both;
}
.page *:nth-child(173) {
  animation: opacities 0.3s ease-in 15.57s both;
}
.page *:nth-child(174) {
  animation: opacities 0.3s ease-in 15.66s both;
}
.page *:nth-child(175) {
  animation: opacities 0.3s ease-in 15.75s both;
}
.page *:nth-child(176) {
  animation: opacities 0.3s ease-in 15.84s both;
}
.page *:nth-child(177) {
  animation: opacities 0.3s ease-in 15.93s both;
}
.page *:nth-child(178) {
  animation: opacities 0.3s ease-in 16.02s both;
}
.page *:nth-child(179) {
  animation: opacities 0.3s ease-in 16.11s both;
}
.page *:nth-child(180) {
  animation: opacities 0.3s ease-in 16.2s both;
}
.page *:nth-child(181) {
  animation: opacities 0.3s ease-in 16.29s both;
}
.page *:nth-child(182) {
  animation: opacities 0.3s ease-in 16.38s both;
}
.page *:nth-child(183) {
  animation: opacities 0.3s ease-in 16.47s both;
}
.page *:nth-child(184) {
  animation: opacities 0.3s ease-in 16.56s both;
}
.page *:nth-child(185) {
  animation: opacities 0.3s ease-in 16.65s both;
}
.page *:nth-child(186) {
  animation: opacities 0.3s ease-in 16.74s both;
}
.page *:nth-child(187) {
  animation: opacities 0.3s ease-in 16.83s both;
}
.page *:nth-child(188) {
  animation: opacities 0.3s ease-in 16.92s both;
}
.page *:nth-child(189) {
  animation: opacities 0.3s ease-in 17.01s both;
}
.page *:nth-child(190) {
  animation: opacities 0.3s ease-in 17.1s both;
}
.page *:nth-child(191) {
  animation: opacities 0.3s ease-in 17.19s both;
}
.page *:nth-child(192) {
  animation: opacities 0.3s ease-in 17.28s both;
}
.page *:nth-child(193) {
  animation: opacities 0.3s ease-in 17.37s both;
}
.page *:nth-child(194) {
  animation: opacities 0.3s ease-in 17.46s both;
}
.page *:nth-child(195) {
  animation: opacities 0.3s ease-in 17.55s both;
}
.page *:nth-child(196) {
  animation: opacities 0.3s ease-in 17.64s both;
}
.page *:nth-child(197) {
  animation: opacities 0.3s ease-in 17.73s both;
}
.page *:nth-child(198) {
  animation: opacities 0.3s ease-in 17.82s both;
}
.page *:nth-child(199) {
  animation: opacities 0.3s ease-in 17.91s both;
}
.page *:nth-child(200) {
  animation: opacities 0.3s ease-in 18s both;
}
.page *:nth-child(201) {
  animation: opacities 0.3s ease-in 18.09s both;
}
.page *:nth-child(202) {
  animation: opacities 0.3s ease-in 18.18s both;
}
.page *:nth-child(203) {
  animation: opacities 0.3s ease-in 18.27s both;
}
.page *:nth-child(204) {
  animation: opacities 0.3s ease-in 18.36s both;
}
.page *:nth-child(205) {
  animation: opacities 0.3s ease-in 18.45s both;
}
.page *:nth-child(206) {
  animation: opacities 0.3s ease-in 18.54s both;
}
.page *:nth-child(207) {
  animation: opacities 0.3s ease-in 18.63s both;
}
.page *:nth-child(208) {
  animation: opacities 0.3s ease-in 18.72s both;
}
.page *:nth-child(209) {
  animation: opacities 0.3s ease-in 18.81s both;
}
.page *:nth-child(210) {
  animation: opacities 0.3s ease-in 18.9s both;
}
.page *:nth-child(211) {
  animation: opacities 0.3s ease-in 18.99s both;
}
.page *:nth-child(212) {
  animation: opacities 0.3s ease-in 19.08s both;
}
.page *:nth-child(213) {
  animation: opacities 0.3s ease-in 19.17s both;
}
.page *:nth-child(214) {
  animation: opacities 0.3s ease-in 19.26s both;
}
.page *:nth-child(215) {
  animation: opacities 0.3s ease-in 19.35s both;
}
.page *:nth-child(216) {
  animation: opacities 0.3s ease-in 19.44s both;
}
.page *:nth-child(217) {
  animation: opacities 0.3s ease-in 19.53s both;
}
.page *:nth-child(218) {
  animation: opacities 0.3s ease-in 19.62s both;
}
.page *:nth-child(219) {
  animation: opacities 0.3s ease-in 19.71s both;
}
.page *:nth-child(220) {
  animation: opacities 0.3s ease-in 19.8s both;
}
.page *:nth-child(221) {
  animation: opacities 0.3s ease-in 19.89s both;
}
.page *:nth-child(222) {
  animation: opacities 0.3s ease-in 19.98s both;
}
.page *:nth-child(223) {
  animation: opacities 0.3s ease-in 20.07s both;
}
.page *:nth-child(224) {
  animation: opacities 0.3s ease-in 20.16s both;
}
.page *:nth-child(225) {
  animation: opacities 0.3s ease-in 20.25s both;
}
.page *:nth-child(226) {
  animation: opacities 0.3s ease-in 20.34s both;
}
.page *:nth-child(227) {
  animation: opacities 0.3s ease-in 20.43s both;
}
.page *:nth-child(228) {
  animation: opacities 0.3s ease-in 20.52s both;
}
.page *:nth-child(229) {
  animation: opacities 0.3s ease-in 20.61s both;
}
.page *:nth-child(230) {
  animation: opacities 0.3s ease-in 20.7s both;
}
.page *:nth-child(231) {
  animation: opacities 0.3s ease-in 20.79s both;
}
.page *:nth-child(232) {
  animation: opacities 0.3s ease-in 20.88s both;
}
.page *:nth-child(233) {
  animation: opacities 0.3s ease-in 20.97s both;
}
.page *:nth-child(234) {
  animation: opacities 0.3s ease-in 21.06s both;
}
.page *:nth-child(235) {
  animation: opacities 0.3s ease-in 21.15s both;
}
.page *:nth-child(236) {
  animation: opacities 0.3s ease-in 21.24s both;
}
.page *:nth-child(237) {
  animation: opacities 0.3s ease-in 21.33s both;
}
.page *:nth-child(238) {
  animation: opacities 0.3s ease-in 21.42s both;
}
.page *:nth-child(239) {
  animation: opacities 0.3s ease-in 21.51s both;
}
.page *:nth-child(240) {
  animation: opacities 0.3s ease-in 21.6s both;
}
.page *:nth-child(241) {
  animation: opacities 0.3s ease-in 21.69s both;
}
.page *:nth-child(242) {
  animation: opacities 0.3s ease-in 21.78s both;
}
.page *:nth-child(243) {
  animation: opacities 0.3s ease-in 21.87s both;
}
.page *:nth-child(244) {
  animation: opacities 0.3s ease-in 21.96s both;
}
.page *:nth-child(245) {
  animation: opacities 0.3s ease-in 22.05s both;
}
.page *:nth-child(246) {
  animation: opacities 0.3s ease-in 22.14s both;
}
.page *:nth-child(247) {
  animation: opacities 0.3s ease-in 22.23s both;
}
.page *:nth-child(248) {
  animation: opacities 0.3s ease-in 22.32s both;
}
.page *:nth-child(249) {
  animation: opacities 0.3s ease-in 22.41s both;
}
.page *:nth-child(250) {
  animation: opacities 0.3s ease-in 22.5s both;
}
.page *:nth-child(251) {
  animation: opacities 0.3s ease-in 22.59s both;
}
.page *:nth-child(252) {
  animation: opacities 0.3s ease-in 22.68s both;
}
.page *:nth-child(253) {
  animation: opacities 0.3s ease-in 22.77s both;
}
.page *:nth-child(254) {
  animation: opacities 0.3s ease-in 22.86s both;
}
.page *:nth-child(255) {
  animation: opacities 0.3s ease-in 22.95s both;
}
.page *:nth-child(256) {
  animation: opacities 0.3s ease-in 23.04s both;
}
.page *:nth-child(257) {
  animation: opacities 0.3s ease-in 23.13s both;
}
.page *:nth-child(258) {
  animation: opacities 0.3s ease-in 23.22s both;
}
.page *:nth-child(259) {
  animation: opacities 0.3s ease-in 23.31s both;
}
.page *:nth-child(260) {
  animation: opacities 0.3s ease-in 23.4s both;
}
.page *:nth-child(261) {
  animation: opacities 0.3s ease-in 23.49s both;
}
.page *:nth-child(262) {
  animation: opacities 0.3s ease-in 23.58s both;
}
.page *:nth-child(263) {
  animation: opacities 0.3s ease-in 23.67s both;
}
.page *:nth-child(264) {
  animation: opacities 0.3s ease-in 23.76s both;
}
.page *:nth-child(265) {
  animation: opacities 0.3s ease-in 23.85s both;
}
.page *:nth-child(266) {
  animation: opacities 0.3s ease-in 23.94s both;
}
.page *:nth-child(267) {
  animation: opacities 0.3s ease-in 24.03s both;
}
.page *:nth-child(268) {
  animation: opacities 0.3s ease-in 24.12s both;
}
.page *:nth-child(269) {
  animation: opacities 0.3s ease-in 24.21s both;
}
.page *:nth-child(270) {
  animation: opacities 0.3s ease-in 24.3s both;
}
.page *:nth-child(271) {
  animation: opacities 0.3s ease-in 24.39s both;
}
.page *:nth-child(272) {
  animation: opacities 0.3s ease-in 24.48s both;
}
.page *:nth-child(273) {
  animation: opacities 0.3s ease-in 24.57s both;
}
.page *:nth-child(274) {
  animation: opacities 0.3s ease-in 24.66s both;
}
.page *:nth-child(275) {
  animation: opacities 0.3s ease-in 24.75s both;
}
.page *:nth-child(276) {
  animation: opacities 0.3s ease-in 24.84s both;
}
.page *:nth-child(277) {
  animation: opacities 0.3s ease-in 24.93s both;
}
.page *:nth-child(278) {
  animation: opacities 0.3s ease-in 25.02s both;
}
.page *:nth-child(279) {
  animation: opacities 0.3s ease-in 25.11s both;
}
.page *:nth-child(280) {
  animation: opacities 0.3s ease-in 25.2s both;
}
.page *:nth-child(281) {
  animation: opacities 0.3s ease-in 25.29s both;
}
.page *:nth-child(282) {
  animation: opacities 0.3s ease-in 25.38s both;
}
.page *:nth-child(283) {
  animation: opacities 0.3s ease-in 25.47s both;
}
.page *:nth-child(284) {
  animation: opacities 0.3s ease-in 25.56s both;
}
.page *:nth-child(285) {
  animation: opacities 0.3s ease-in 25.65s both;
}
.page *:nth-child(286) {
  animation: opacities 0.3s ease-in 25.74s both;
}
.page *:nth-child(287) {
  animation: opacities 0.3s ease-in 25.83s both;
}
.page *:nth-child(288) {
  animation: opacities 0.3s ease-in 25.92s both;
}
.page *:nth-child(289) {
  animation: opacities 0.3s ease-in 26.01s both;
}
.page *:nth-child(290) {
  animation: opacities 0.3s ease-in 26.1s both;
}
.page *:nth-child(291) {
  animation: opacities 0.3s ease-in 26.19s both;
}
.page *:nth-child(292) {
  animation: opacities 0.3s ease-in 26.28s both;
}
.page *:nth-child(293) {
  animation: opacities 0.3s ease-in 26.37s both;
}
.page *:nth-child(294) {
  animation: opacities 0.3s ease-in 26.46s both;
}
.page *:nth-child(295) {
  animation: opacities 0.3s ease-in 26.55s both;
}
.page *:nth-child(296) {
  animation: opacities 0.3s ease-in 26.64s both;
}
.page *:nth-child(297) {
  animation: opacities 0.3s ease-in 26.73s both;
}
.page *:nth-child(298) {
  animation: opacities 0.3s ease-in 26.82s both;
}
.page *:nth-child(299) {
  animation: opacities 0.3s ease-in 26.91s both;
}
.page *:nth-child(300) {
  animation: opacities 0.3s ease-in 27s both;
}
.page *:nth-child(301) {
  animation: opacities 0.3s ease-in 27.09s both;
}
.page *:nth-child(302) {
  animation: opacities 0.3s ease-in 27.18s both;
}
.page *:nth-child(303) {
  animation: opacities 0.3s ease-in 27.27s both;
}
.page *:nth-child(304) {
  animation: opacities 0.3s ease-in 27.36s both;
}
.page *:nth-child(305) {
  animation: opacities 0.3s ease-in 27.45s both;
}
.page *:nth-child(306) {
  animation: opacities 0.3s ease-in 27.54s both;
}
.page *:nth-child(307) {
  animation: opacities 0.3s ease-in 27.63s both;
}
.page *:nth-child(308) {
  animation: opacities 0.3s ease-in 27.72s both;
}
.page *:nth-child(309) {
  animation: opacities 0.3s ease-in 27.81s both;
}
.page *:nth-child(310) {
  animation: opacities 0.3s ease-in 27.9s both;
}
.page *:nth-child(311) {
  animation: opacities 0.3s ease-in 27.99s both;
}
.page *:nth-child(312) {
  animation: opacities 0.3s ease-in 28.08s both;
}
.page *:nth-child(313) {
  animation: opacities 0.3s ease-in 28.17s both;
}
.page *:nth-child(314) {
  animation: opacities 0.3s ease-in 28.26s both;
}
.page *:nth-child(315) {
  animation: opacities 0.3s ease-in 28.35s both;
}
.page *:nth-child(316) {
  animation: opacities 0.3s ease-in 28.44s both;
}
.page *:nth-child(317) {
  animation: opacities 0.3s ease-in 28.53s both;
}
.page *:nth-child(318) {
  animation: opacities 0.3s ease-in 28.62s both;
}
.page *:nth-child(319) {
  animation: opacities 0.3s ease-in 28.71s both;
}
.page *:nth-child(320) {
  animation: opacities 0.3s ease-in 28.8s both;
}
.page *:nth-child(321) {
  animation: opacities 0.3s ease-in 28.89s both;
}
.page *:nth-child(322) {
  animation: opacities 0.3s ease-in 28.98s both;
}
.page *:nth-child(323) {
  animation: opacities 0.3s ease-in 29.07s both;
}
.page *:nth-child(324) {
  animation: opacities 0.3s ease-in 29.16s both;
}
.page *:nth-child(325) {
  animation: opacities 0.3s ease-in 29.25s both;
}
.page *:nth-child(326) {
  animation: opacities 0.3s ease-in 29.34s both;
}
.page *:nth-child(327) {
  animation: opacities 0.3s ease-in 29.43s both;
}
.page *:nth-child(328) {
  animation: opacities 0.3s ease-in 29.52s both;
}
.page *:nth-child(329) {
  animation: opacities 0.3s ease-in 29.61s both;
}
.page *:nth-child(330) {
  animation: opacities 0.3s ease-in 29.7s both;
}
.page *:nth-child(331) {
  animation: opacities 0.3s ease-in 29.79s both;
}
.page *:nth-child(332) {
  animation: opacities 0.3s ease-in 29.88s both;
}
.page *:nth-child(333) {
  animation: opacities 0.3s ease-in 29.97s both;
}
.page *:nth-child(334) {
  animation: opacities 0.3s ease-in 30.06s both;
}
.page *:nth-child(335) {
  animation: opacities 0.3s ease-in 30.15s both;
}
.page *:nth-child(336) {
  animation: opacities 0.3s ease-in 30.24s both;
}
.page *:nth-child(337) {
  animation: opacities 0.3s ease-in 30.33s both;
}
.page *:nth-child(338) {
  animation: opacities 0.3s ease-in 30.42s both;
}
.page *:nth-child(339) {
  animation: opacities 0.3s ease-in 30.51s both;
}
.page *:nth-child(340) {
  animation: opacities 0.3s ease-in 30.6s both;
}
.page *:nth-child(341) {
  animation: opacities 0.3s ease-in 30.69s both;
}
.page *:nth-child(342) {
  animation: opacities 0.3s ease-in 30.78s both;
}
.page *:nth-child(343) {
  animation: opacities 0.3s ease-in 30.87s both;
}
.page *:nth-child(344) {
  animation: opacities 0.3s ease-in 30.96s both;
}
.page *:nth-child(345) {
  animation: opacities 0.3s ease-in 31.05s both;
}
.page *:nth-child(346) {
  animation: opacities 0.3s ease-in 31.14s both;
}
.page *:nth-child(347) {
  animation: opacities 0.3s ease-in 31.23s both;
}
.page *:nth-child(348) {
  animation: opacities 0.3s ease-in 31.32s both;
}
.page *:nth-child(349) {
  animation: opacities 0.3s ease-in 31.41s both;
}
.page *:nth-child(350) {
  animation: opacities 0.3s ease-in 31.5s both;
}
.page *:nth-child(351) {
  animation: opacities 0.3s ease-in 31.59s both;
}
.page *:nth-child(352) {
  animation: opacities 0.3s ease-in 31.68s both;
}
.page *:nth-child(353) {
  animation: opacities 0.3s ease-in 31.77s both;
}
.page *:nth-child(354) {
  animation: opacities 0.3s ease-in 31.86s both;
}
.page *:nth-child(355) {
  animation: opacities 0.3s ease-in 31.95s both;
}
.page *:nth-child(356) {
  animation: opacities 0.3s ease-in 32.04s both;
}
.page *:nth-child(357) {
  animation: opacities 0.3s ease-in 32.13s both;
}
.page *:nth-child(358) {
  animation: opacities 0.3s ease-in 32.22s both;
}
.page *:nth-child(359) {
  animation: opacities 0.3s ease-in 32.31s both;
}
.page *:nth-child(360) {
  animation: opacities 0.3s ease-in 32.4s both;
}
.page *:nth-child(361) {
  animation: opacities 0.3s ease-in 32.49s both;
}
.page *:nth-child(362) {
  animation: opacities 0.3s ease-in 32.58s both;
}
.page *:nth-child(363) {
  animation: opacities 0.3s ease-in 32.67s both;
}
.page *:nth-child(364) {
  animation: opacities 0.3s ease-in 32.76s both;
}
.page *:nth-child(365) {
  animation: opacities 0.3s ease-in 32.85s both;
}
.page *:nth-child(366) {
  animation: opacities 0.3s ease-in 32.94s both;
}
.page *:nth-child(367) {
  animation: opacities 0.3s ease-in 33.03s both;
}
.page *:nth-child(368) {
  animation: opacities 0.3s ease-in 33.12s both;
}
.page *:nth-child(369) {
  animation: opacities 0.3s ease-in 33.21s both;
}
.page *:nth-child(370) {
  animation: opacities 0.3s ease-in 33.3s both;
}
.page *:nth-child(371) {
  animation: opacities 0.3s ease-in 33.39s both;
}
.page *:nth-child(372) {
  animation: opacities 0.3s ease-in 33.48s both;
}
.page *:nth-child(373) {
  animation: opacities 0.3s ease-in 33.57s both;
}
.page *:nth-child(374) {
  animation: opacities 0.3s ease-in 33.66s both;
}
.page *:nth-child(375) {
  animation: opacities 0.3s ease-in 33.75s both;
}
.page *:nth-child(376) {
  animation: opacities 0.3s ease-in 33.84s both;
}
.page *:nth-child(377) {
  animation: opacities 0.3s ease-in 33.93s both;
}
.page *:nth-child(378) {
  animation: opacities 0.3s ease-in 34.02s both;
}
.page *:nth-child(379) {
  animation: opacities 0.3s ease-in 34.11s both;
}
.page *:nth-child(380) {
  animation: opacities 0.3s ease-in 34.2s both;
}
.page *:nth-child(381) {
  animation: opacities 0.3s ease-in 34.29s both;
}
.page *:nth-child(382) {
  animation: opacities 0.3s ease-in 34.38s both;
}
.page *:nth-child(383) {
  animation: opacities 0.3s ease-in 34.47s both;
}
.page *:nth-child(384) {
  animation: opacities 0.3s ease-in 34.56s both;
}
.page *:nth-child(385) {
  animation: opacities 0.3s ease-in 34.65s both;
}
.page *:nth-child(386) {
  animation: opacities 0.3s ease-in 34.74s both;
}
.page *:nth-child(387) {
  animation: opacities 0.3s ease-in 34.83s both;
}
.page *:nth-child(388) {
  animation: opacities 0.3s ease-in 34.92s both;
}
.page *:nth-child(389) {
  animation: opacities 0.3s ease-in 35.01s both;
}
.page *:nth-child(390) {
  animation: opacities 0.3s ease-in 35.1s both;
}
.page *:nth-child(391) {
  animation: opacities 0.3s ease-in 35.19s both;
}
.page *:nth-child(392) {
  animation: opacities 0.3s ease-in 35.28s both;
}
.page *:nth-child(393) {
  animation: opacities 0.3s ease-in 35.37s both;
}
.page *:nth-child(394) {
  animation: opacities 0.3s ease-in 35.46s both;
}
.page *:nth-child(395) {
  animation: opacities 0.3s ease-in 35.55s both;
}
.page *:nth-child(396) {
  animation: opacities 0.3s ease-in 35.64s both;
}
.page *:nth-child(397) {
  animation: opacities 0.3s ease-in 35.73s both;
}
.page *:nth-child(398) {
  animation: opacities 0.3s ease-in 35.82s both;
}
.page *:nth-child(399) {
  animation: opacities 0.3s ease-in 35.91s both;
}
.page *:nth-child(400) {
  animation: opacities 0.3s ease-in 36s both;
}
.page *:nth-child(401) {
  animation: opacities 0.3s ease-in 36.09s both;
}
.page *:nth-child(402) {
  animation: opacities 0.3s ease-in 36.18s both;
}
.page *:nth-child(403) {
  animation: opacities 0.3s ease-in 36.27s both;
}
.page *:nth-child(404) {
  animation: opacities 0.3s ease-in 36.36s both;
}
.page *:nth-child(405) {
  animation: opacities 0.3s ease-in 36.45s both;
}
.page *:nth-child(406) {
  animation: opacities 0.3s ease-in 36.54s both;
}
.page *:nth-child(407) {
  animation: opacities 0.3s ease-in 36.63s both;
}
.page *:nth-child(408) {
  animation: opacities 0.3s ease-in 36.72s both;
}
.page *:nth-child(409) {
  animation: opacities 0.3s ease-in 36.81s both;
}
.page *:nth-child(410) {
  animation: opacities 0.3s ease-in 36.9s both;
}
.page *:nth-child(411) {
  animation: opacities 0.3s ease-in 36.99s both;
}
.page *:nth-child(412) {
  animation: opacities 0.3s ease-in 37.08s both;
}
.page *:nth-child(413) {
  animation: opacities 0.3s ease-in 37.17s both;
}
.page *:nth-child(414) {
  animation: opacities 0.3s ease-in 37.26s both;
}
.page *:nth-child(415) {
  animation: opacities 0.3s ease-in 37.35s both;
}
.page *:nth-child(416) {
  animation: opacities 0.3s ease-in 37.44s both;
}
.page *:nth-child(417) {
  animation: opacities 0.3s ease-in 37.53s both;
}
.page *:nth-child(418) {
  animation: opacities 0.3s ease-in 37.62s both;
}
.page *:nth-child(419) {
  animation: opacities 0.3s ease-in 37.71s both;
}
.page *:nth-child(420) {
  animation: opacities 0.3s ease-in 37.8s both;
}
.page *:nth-child(421) {
  animation: opacities 0.3s ease-in 37.89s both;
}
.page *:nth-child(422) {
  animation: opacities 0.3s ease-in 37.98s both;
}
.page *:nth-child(423) {
  animation: opacities 0.3s ease-in 38.07s both;
}
.page *:nth-child(424) {
  animation: opacities 0.3s ease-in 38.16s both;
}
.page *:nth-child(425) {
  animation: opacities 0.3s ease-in 38.25s both;
}
.page *:nth-child(426) {
  animation: opacities 0.3s ease-in 38.34s both;
}
.page *:nth-child(427) {
  animation: opacities 0.3s ease-in 38.43s both;
}
.page *:nth-child(428) {
  animation: opacities 0.3s ease-in 38.52s both;
}
.page *:nth-child(429) {
  animation: opacities 0.3s ease-in 38.61s both;
}
.page *:nth-child(430) {
  animation: opacities 0.3s ease-in 38.7s both;
}
.page *:nth-child(431) {
  animation: opacities 0.3s ease-in 38.79s both;
}
.page *:nth-child(432) {
  animation: opacities 0.3s ease-in 38.88s both;
}
.page *:nth-child(433) {
  animation: opacities 0.3s ease-in 38.97s both;
}
.page *:nth-child(434) {
  animation: opacities 0.3s ease-in 39.06s both;
}
.page *:nth-child(435) {
  animation: opacities 0.3s ease-in 39.15s both;
}
.page *:nth-child(436) {
  animation: opacities 0.3s ease-in 39.24s both;
}
.page *:nth-child(437) {
  animation: opacities 0.3s ease-in 39.33s both;
}
.page *:nth-child(438) {
  animation: opacities 0.3s ease-in 39.42s both;
}
.page *:nth-child(439) {
  animation: opacities 0.3s ease-in 39.51s both;
}
.page *:nth-child(440) {
  animation: opacities 0.3s ease-in 39.6s both;
}
.page *:nth-child(441) {
  animation: opacities 0.3s ease-in 39.69s both;
}
.page *:nth-child(442) {
  animation: opacities 0.3s ease-in 39.78s both;
}
.page *:nth-child(443) {
  animation: opacities 0.3s ease-in 39.87s both;
}
.page *:nth-child(444) {
  animation: opacities 0.3s ease-in 39.96s both;
}
.page *:nth-child(445) {
  animation: opacities 0.3s ease-in 40.05s both;
}
.page *:nth-child(446) {
  animation: opacities 0.3s ease-in 40.14s both;
}
.page *:nth-child(447) {
  animation: opacities 0.3s ease-in 40.23s both;
}
.page *:nth-child(448) {
  animation: opacities 0.3s ease-in 40.32s both;
}
.page *:nth-child(449) {
  animation: opacities 0.3s ease-in 40.41s both;
}
.page *:nth-child(450) {
  animation: opacities 0.3s ease-in 40.5s both;
}
.page *:nth-child(451) {
  animation: opacities 0.3s ease-in 40.59s both;
}
.page *:nth-child(452) {
  animation: opacities 0.3s ease-in 40.68s both;
}
.page *:nth-child(453) {
  animation: opacities 0.3s ease-in 40.77s both;
}
.page *:nth-child(454) {
  animation: opacities 0.3s ease-in 40.86s both;
}
.page *:nth-child(455) {
  animation: opacities 0.3s ease-in 40.95s both;
}
.page *:nth-child(456) {
  animation: opacities 0.3s ease-in 41.04s both;
}
.page *:nth-child(457) {
  animation: opacities 0.3s ease-in 41.13s both;
}
.page *:nth-child(458) {
  animation: opacities 0.3s ease-in 41.22s both;
}
.page *:nth-child(459) {
  animation: opacities 0.3s ease-in 41.31s both;
}
.page *:nth-child(460) {
  animation: opacities 0.3s ease-in 41.4s both;
}
.page *:nth-child(461) {
  animation: opacities 0.3s ease-in 41.49s both;
}
.page *:nth-child(462) {
  animation: opacities 0.3s ease-in 41.58s both;
}
.page *:nth-child(463) {
  animation: opacities 0.3s ease-in 41.67s both;
}
.page *:nth-child(464) {
  animation: opacities 0.3s ease-in 41.76s both;
}
.page *:nth-child(465) {
  animation: opacities 0.3s ease-in 41.85s both;
}
.page *:nth-child(466) {
  animation: opacities 0.3s ease-in 41.94s both;
}
.page *:nth-child(467) {
  animation: opacities 0.3s ease-in 42.03s both;
}
.page *:nth-child(468) {
  animation: opacities 0.3s ease-in 42.12s both;
}
.page *:nth-child(469) {
  animation: opacities 0.3s ease-in 42.21s both;
}
.page *:nth-child(470) {
  animation: opacities 0.3s ease-in 42.3s both;
}
.page *:nth-child(471) {
  animation: opacities 0.3s ease-in 42.39s both;
}
.page *:nth-child(472) {
  animation: opacities 0.3s ease-in 42.48s both;
}
.page *:nth-child(473) {
  animation: opacities 0.3s ease-in 42.57s both;
}
.page *:nth-child(474) {
  animation: opacities 0.3s ease-in 42.66s both;
}
.page *:nth-child(475) {
  animation: opacities 0.3s ease-in 42.75s both;
}
.page *:nth-child(476) {
  animation: opacities 0.3s ease-in 42.84s both;
}
.page *:nth-child(477) {
  animation: opacities 0.3s ease-in 42.93s both;
}
.page *:nth-child(478) {
  animation: opacities 0.3s ease-in 43.02s both;
}
.page *:nth-child(479) {
  animation: opacities 0.3s ease-in 43.11s both;
}
.page *:nth-child(480) {
  animation: opacities 0.3s ease-in 43.2s both;
}
.page *:nth-child(481) {
  animation: opacities 0.3s ease-in 43.29s both;
}
.page *:nth-child(482) {
  animation: opacities 0.3s ease-in 43.38s both;
}
.page *:nth-child(483) {
  animation: opacities 0.3s ease-in 43.47s both;
}
.page *:nth-child(484) {
  animation: opacities 0.3s ease-in 43.56s both;
}
.page *:nth-child(485) {
  animation: opacities 0.3s ease-in 43.65s both;
}
.page *:nth-child(486) {
  animation: opacities 0.3s ease-in 43.74s both;
}
.page *:nth-child(487) {
  animation: opacities 0.3s ease-in 43.83s both;
}
.page *:nth-child(488) {
  animation: opacities 0.3s ease-in 43.92s both;
}
.page *:nth-child(489) {
  animation: opacities 0.3s ease-in 44.01s both;
}
.page *:nth-child(490) {
  animation: opacities 0.3s ease-in 44.1s both;
}
.page *:nth-child(491) {
  animation: opacities 0.3s ease-in 44.19s both;
}
.page *:nth-child(492) {
  animation: opacities 0.3s ease-in 44.28s both;
}
.page *:nth-child(493) {
  animation: opacities 0.3s ease-in 44.37s both;
}
.page *:nth-child(494) {
  animation: opacities 0.3s ease-in 44.46s both;
}
.page *:nth-child(495) {
  animation: opacities 0.3s ease-in 44.55s both;
}
.page *:nth-child(496) {
  animation: opacities 0.3s ease-in 44.64s both;
}
.page *:nth-child(497) {
  animation: opacities 0.3s ease-in 44.73s both;
}
.page *:nth-child(498) {
  animation: opacities 0.3s ease-in 44.82s both;
}
.page *:nth-child(499) {
  animation: opacities 0.3s ease-in 44.91s both;
}
.page *:nth-child(500) {
  animation: opacities 0.3s ease-in 45s both;
}
@keyframes opacities {
  0% {
    opacity: 0;
  }
}

.emptyPage {
  height: 450px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #e1e1e1;
  opacity: 0.6;
  text-align: center;
}
.emptyPage img {
  width: 6em;
}
.emptyPage p {
  margin: 0.6em 0 0.2em;
  font-weight: 900;
}
.emptyPage span {
  color: #a0a0a0;
  font-size: 0.8rem;
  width: 200px;
}

.active {
  color: #a267ea;
}

.session-title {
  margin-top: 1em;
  font-size: 0.9rem;
  opacity: 0.7;
  padding: 1em;
}

/*# sourceMappingURL=global.css.map */
